# Backend
back/node_modules
/back/mysql_data
/back/uploads_data
/back/DS_Store
/back/src/DS_Store
/back/backups
/back/src/DS_Store

# Dados MySQL locais
back/mysql_data/

# Uploads locais
back/uploads_data/
back/public/uploads_data/

# Environment variables
#.env
#.env.development
#.env.production

# Node
node_modules/
npm-debug.log

# Mobile

mobile/posTeachApp/node_modules
mobile/posTeachApp/.expo
mobile/posTeachApp/.expo-shared
mobile/posTeachApp/.DS_Store
mobile/posTeachApp/.vscode
mobile/posTeachApp/.idea
mobile/posTeachApp/.git
mobile/posTeachApp/.gitignore